<div style="width: 400px; margin: auto;">
  <div *ngIf="currentUser" class="edit-form">
    <h2>User Details</h2>
    <div>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field> -->
    </div>
    <!-- <form>
      <div class="form-group">
        <label for="name">Competitor Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentUser.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Competitor last name</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          [(ngModel)]="currentUser.lastName"
          name="lastname"
        />
      </div>
      <div class="form-group">
        <label for="cellnumber">Cellphone Number</label>
        <input
          type="text"
          class="form-control"
          id="cellnumber"
          [(ngModel)]="currentUser.cellNumber"
          name="cellnumber"
        />
      </div>
      <div class="form-group">
        <label for="idnumber">ID Number</label>
        <input
          type="text"
          class="form-control"
          id="idnumber"
          [(ngModel)]="currentUser.idNumber"
          name="idnumber"
        />
      </div>
      <div class="form-group">
        <label for="datecreated">Choose a date</label>
        <input [(ngModel)]="currentUser.dateOfBirth" matInput [matDatepicker]="picker" id="user.dateOfBirth" name="user.dateOfBirth">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
      </div>
      <div class="form-group">
        <label for="competition-input">Player in competition:</label>
        <select [(ngModel)]="currentUser.competition" name="competition-input">
          <option [ngValue]="false">false</option>
          <option [ngValue]="true">true</option>
        </select>
      </div>
      <div class="form-group">
        <label><strong>In competition:</strong></label>
        {{ currentUser.competition ? true : false }}
      </div>
    </form> -->
    <div>
      <qrcode id="qrcode" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
      <a [href]="href" (click)="downloadImage()">Download QR Code</a>
    </div>
    <button class="badge badge-danger mr-2" (click)="deleteUser()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
