<div style="width: 400px; margin: auto;">
  <form>
    <div class="mat-app-background basic-container">
      <mat-form-field appearance="fill">
        <mat-label>Competitor Name</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="user.name"
          name="name">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="user.lastName"
          id="surname"
          name="surname">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Cell Number</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="user.cellNumber"
          name="cellnumber"
          >
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Id Number</mat-label>
        <input matInput
          type="text"
          [(ngModel)]="user.idNumber"
          name="idNumber"
          >
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <label for="dateOfBirth">Choose a date</label>
        <input [(ngModel)]="user.dateOfBirth" matInput [matDatepicker]="picker" id="user.dateOfBirth" name="user.dateOfBirth">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <label for="datecreated">Choose a date</label>
        <input [(ngModel)]="user.dateOfBirth" matInput [matDatepicker]="picker" id="user.dateOfBirth" name="user.dateOfBirth">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
      </mat-form-field> -->
      <mat-divider></mat-divider>
      <section>
        <div class="button-row">
           <button mat-raised-button color="primary" (click)="saveUser()">Add User</button>
        </div>
      </section>
    </div>
  </form>

  <!-- <div class="submit-form">
    <div *ngIf="!submitted"> -->
      <!-- <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="user.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          required
          [(ngModel)]="user.lastName"
          name="lastname"
        />
      </div>
      <div class="form-group">
        <label for="cellnumber">Cell</label>
        <input
          type="text"
          class="form-control"
          id="cellnumber"
          required
          [(ngModel)]="user.cellNumber"
          name="cellnumber"
        />
      </div>
      <div class="form-group">
        <label for="idnumber">ID</label>
        <input
          type="text"
          class="form-control"
          id="idnumber"
          required
          [(ngModel)]="user.idNumber"
          name="idNumber"
        />
      </div>
      <div class="form-group">
        <label for="datecreated">Choose a date</label>
        <input [(ngModel)]="user.dateOfBirth" matInput [matDatepicker]="picker" id="user.dateOfBirth" name="user.dateOfBirth">
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
      </div>
    </div>
    <button (click)="saveUser()" class="btn btn-success">Submit</button>
  </div> -->

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newTutorial()">Add</button>
  </div>
</div>
