/* @import '~@angular/material/core/theming/prebuilt/deeppurple-amber'; */
/* @import '~angular-material-datepicker/src/datepicker/calendar.component.scss'; */

/* @include calendar-theme($theme); */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
